@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

:root {
  --primary-color: #413c6d;
  --secondary: #120b48;
  --white-color: #fff;
  --primary-200: #928fab;
}
main {
  min-width: 350px;
  border-radius: 15px;
  display: grid;
  gap: 25px;
  padding: 20px;
}
i {
  font-size: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  display: grid;
  gap: 10px;
}

.description p {
  color: var(--primary-color);
  font-size: 16px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.full-screen,
.current-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .display-control {
  font-weight: 600;
  justify-content: center;
  gap: 30px;
}

.display-control button {
  color: var(--primary-200);
}
#full-screen-svg path {
  stroke: var(--primary-200);
}

.display-control p {
  font-size: 20px;
}
.display-control i {
  font-size: 30px;
}

.active {
  color: var(--secondary) !important;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.control {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary);
  padding: 5px 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.control div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control div i,
.control div h3 {
  font-size: 20px;
  color: var(--secondary);
}

#start {
  background: var(--secondary);
  padding: 15px;
  color: var(--white-color);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
}

input[type="checkbox"] {
  display: none;
}

div label {
  position: relative;
  cursor: pointer;
  display: block;
  width: 50px;
  height: 30px;
  background: var(--secondary);
  border-radius: 50px;
  transition: 300ms linear;
}

div label:before {
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: #ffffff;
  border-radius: 50%;
  transition: left 300ms linear;
}

div input#camera-toggle-btn:checked + label,
div input#audio-toggle-btn:checked + label {
  /* background: #000000; */
}

div input#camera-toggle-btn:checked + label:before,
div input#audio-toggle-btn:checked + label:before {
  left: 23px;
}
